@model MaterialeManager.Models.Case

@{
    ViewData["Title"] = "Slet sag";
}

<h1>Slet sag! Er du sikker på du ønsker at slette denne sag?</h1>

<div>
    <h4>Sags nr: @Model.CaseID</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CaseState)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CaseState)
        </dd class>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CaseOperatorID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CaseOperator.UserName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PhotographerID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Photographer.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaseID" />
        <input type="submit" value="Slet sag" class="btn btn-danger" /> | 
        <a class="btn btn-danger" asp-action="Index">Fortryd</a>
    </form>
</div>
