@model IEnumerable<MaterialeManager.Models.Case>

@{
    ViewData["Title"] = "Sager til klip";
}

<h1>Sager til klip</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, new Case(), CaseOperations.Create)).Succeeded)
{
    <p><a class="btn btn-primary" asp-action="Create">Opret ny sag</a></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseOperatorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotographerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@item.CaseState">
                <td>
                    @Html.DisplayFor(modelItem => item.CaseState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @if (item.CaseOperator == null)
                    {
                        <text>Afventer klipper</text>
                    }

                    @Html.DisplayFor(modelItem => item.CaseOperator.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photographer.UserName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CaseID">Detaljer</a>

                    @if ((await AuthorizationService.AuthorizeAsync(User, item, CaseOperations.Update)).Succeeded)
                    {
                        <br />
                        <a asp-action="Edit" asp-route-id="@item.CaseID">Rediger</a>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, item, CaseOperations.Delete)).Succeeded)
                    {
                        <br />
                        <a asp-action="Delete" asp-route-id="@item.CaseID">Slet</a>
                    }

                    @if (item.CaseState == Case.States.Oprettet)
                    {
                        @if ((await AuthorizationService.AuthorizeAsync(User, item, CaseOperations.Accept)).Succeeded)
                        {
                            <br />
                            <a asp-action="Accept" asp-route-id="@item.CaseID">Klip sag</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>