@model IEnumerable<MaterialeManager.Models.Case>

@{
    ViewData["Title"] = "Mine sager";
}

<h1>Mine sager</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErrorDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseOperatorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotographerID)
            </th>
            <th>
                Handlinger
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@item.CaseState">
                <td>
                    @Html.DisplayFor(modelItem => item.CaseState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseOperator.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photographer.UserName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CaseID">Detaljer</a>

                    @if ((await AuthorizationService.AuthorizeAsync(User, item, CaseOperations.Update)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.CaseID">Rediger</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, item, CaseOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.CaseID">Slet</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>